/*HKing 2016-04-29*/
video.vjs-tech{
	position: absolute !important;
	top: 0px !important;
	left: 0px !important;
	z-index: 998 !important;
}
.hkingWrap{
	position: absolute;
	right: 4px;
	top: 4px;
	width: 60px;
	height: 60px;
	border-radius: 100%;
	line-height: 28px;
	z-index: 999 !important;
	background-color: #ff0000;
	display: none;
	text-align: center;
	cursor: pointer;
	overflow: hidden;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1),
				4px 0 6px rgba(0, 0, 0, 0.1),
				0 -4px 6px rgba(0, 0, 0, 0.1),
				-4px 0 6px rgba(0, 0, 0, 0.1);
}
.hkingWrap::before{
	display: block;
	content: " ";
	width: 26px;
	height: 4px;
	background-color: #fff;
	border-radius: 3px;
	position: absolute;
	left: 16px;
	bottom: 12px;
}
.hkingWrap::after{
	display: block;
	content: " ";
	height: 32px;
	width: 4px;
	background-color: #fff;
	border-radius: 3px;
	position: absolute;
	left: 27px;
	bottom: 20px;
}
.hkingWrap > div::before{
	display: block;
	content: " ";
	height: 22px;
	width: 4px;
	background-color: #fff;
	border-radius: 3px;
	position: absolute;
	left: 20px;
	bottom: 18px;
	transform: rotate(-45deg);
}
.hkingWrap > div::after{
	display: block;
	content: " ";
	height: 22px;
	width: 4px;
	background-color: #fff;
	border-radius: 3px;
	position: absolute;
	left: 34px;
	bottom: 18px;
	transform: rotate(45deg);
}

.hkingWrap > p{
	display: none;
	width: 100%;
	height: 100%;
	background-color: green;
	position: relative;
	z-index: 998;
}
.hkingWrap > p:before{
	display: block;
	content: " ";
	height: 20px;
	width: 4px;
	background-color: #fff;
	border-radius: 3px;
	position: absolute;
	left: 19px;
	bottom: 13px;
	transform: rotate(-45deg);
}
.hkingWrap > p:after{
	display: block;
	content: " ";
	height: 32px;
	width: 4px;
	background-color: #fff;
	border-radius: 3px;
	position: absolute;
	left: 34px;
	bottom: 12px;
	transform: rotate(40deg);
}

.crt-video:hover .hkingWrap{
	display: block;
}

.crt-skin-default.vjs-has-started .vjs-control-bar{
	z-index: 1000 !important;
}
